.tarea {
    list-style: none;
    color: #b2b2b2;
    font-size: 1.5rem;
    border: 1px solid #dedede;
    padding: 10px 20px;
}

.tarea:hover .btn-eliminar {
    display: block;
}

.btn-eliminar {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: red;
    font-size: 1rem;
    display: none;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.btn-eliminar:hover {
    opacity: 1;
    background: red;
    color: white;
}
